---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Astro">
    <section class="page-content">
        <div class="container">
          <h2>About Me</h2>
          <p>
            I'm a teacher, musician, and full-stack web developer living in Minneapolis, MN.
            I currently work for <a href="https://creator-dna.com/">esolutionsONE</a>
            as a consultant.
          </p>

          <h2>
            About the Site
          </h2>
          <p>
            One of the most important aspects of teaching and learning is reflection.
            I believe that reflecting on the techniques we learn, and the media we consume
            brings out even more from the experience.
          </p>
          <p>
            I built this site to fill it with thoughts about things I love -
            and also to have a playground to mess around with different frameworks and techniques ;)
          </p>
        </div>
      </section>
</Layout>