---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos-small.png';
---

<Layout title="About Astro">
    <section class="page-content">
        <div class="container">
          <h2>About Me</h2>
          <p>
            I'm a teacher, musician, and software developer living in Minneapolis, MN.
            I currently work for <a href="https://creator-dna.com/">esolutionsONE</a>
            as a consultant.
          </p>

          <h2>
            About the Site
          </h2>
          <p>
            One of the most important aspects of teaching and learning is reflection.
            I believe that reflecting on the techniques we learn, and the media we consume
            brings out even more from the experience.
          </p>
          <p>
            It's fun, too.
          </p>
          <p>
            But there are so many places to post content on the internet - 
            sites that, understandably, are most interested in focusing on 
            specific types of content, and pushing that content to as many people
            as possible. 
            I always felt there was no good outlet to post 
          </p>
  
          <Card>
            <h3>Use the tools you already love</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
              deserunt inventore ut voluptate, officia maiores repellat tenetur
              praesentium omnis est ex tempora a necessitatibus reiciendis at et
              dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
              laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
              iusto error molestias dolorum, necessitatibus labore?
            </p>
        </Card>
          
          <h3>Deploy to anywhere, even the edge</h3>
          <img class="logos" src={logos} alt="" />
          <img class="logos-small" src={logosSmall} alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            doloribus, vel ipsum mollitia aliquid cumque commodi corrupti omnis
            ipsam sit earum, dolore quisquam harum qui non, quasi ea voluptatum
            debitis!
          </p>
  
      
            <h3>Join our Community</h3>
            <p>
              Join us in the Astro Discord to share with and get help from an
              active, friendly community!
            </p>
  
            <ul>
              <li>💬 Say hi in our #introduce-yourself channel!</li>
              <li>
                💬 Ask our Support Squad a question in our #support-threads
                channel!
              </li>
              <li>
                💬 Share what you've been working on in our #showcase channel!
              </li>
            </ul>
       
        </div>
      </section>
</Layout>