---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';

export interface Props {
    title: string;
    icon?: string;
}

const {title, icon="/favicon.ico"}: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{"Nick Allen | " + title}</title>
        <link rel="icon" href={icon} />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>